
#calmain p, #calmain  ul, #calmain  ol {
    line-height: 100%;
}

form.crud label.intro {
    display: block;
    float: none;
}
li.date-meta div.selector {
    float: left;
    width: 70px;
    /*background-position: -633px -130px;*/
}
li.date-meta div.selector span {
    width: 28px;
}
li.date-meta label.time-meta {
    width: 100px !important;
	margin-right:10px;
}
.width-10{
    width:10px;
}
#calmain table {
	border-collapse: separate;
	border: 1px solid #9DABCE;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 20px;
        width: 548px;
}
#calmain td,#calmain th {
	width: 81px;
	height: 81px;
	text-align: center;
	vertical-align: middle;
	background: url(../img/cells.png);
	color: #444;
	position: relative;
	padding:0px;
}
#calmain th {
	height: 30px;
	font-weight: bold;
	font-size: 14px;
}
#calmain td:hover, #calmain th:hover {
	background-position: 0px -81px;
	color: #222;
}
#calmain td.date_has_event {
	background-position: 162px 0px;
	color: white; cursor:pointer;
}
#calmain td.date_has_event:hover {
	background-position: 162px -81px;
}
#calmain td.padding {
	background: url(../img/calpad.jpg);
}
#calmain td a{
	text-decoration:none; color: #555555;
}
#calmain td#today {
	background-position: 81px 0px;
	color: white;
}
td#today:hover {
	background-position: 81px -81px;
}

#calmain td#today a {
	font-weight:bold;
}

#calmain .events {
	position: relative;
}
#calmain .events ul {
	text-align: left;
	position: absolute;
	z-index: 1000;
}
#calmain .events li {
    height:100%;
    display: none;
	z-index: 1000;
	padding: 15px;
	background: #E7ECF2 url(../img/popup_big.png) no-repeat;
	color: white;
	border: 1px solid white;
	font-size: 15px;
	width: 300px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	color: #444444;
	-webkit-box-shadow: 0px 8px 8px #333;
}

#calmain .events li:hover {
    border:2px dotted #BBBBBB;
}
#calmain .events li span {
	display: block;
	font-size: 12px;
	text-align: justify;
	color: #555;
}
#calmain .events li span.title {
	font-weight: bold;
	color: #222;
}

#calmain .events li div.titledate {
	font-style: italic; font-size:11px; 
	color: #444444;
	text-align:right;
}

#calmain th a{
text-decoration:none;
font-size:120%;
font-weight:bold;
color: #000;
outline-width:0;
}

#calmain .dayevents{
	border: 1px solid #666666;
	padding: 10px;
	text-align: left;
}

#calmain .dayevents h3{
	background:none repeat scroll 0 0 #303030;
color:#FFFFFF;
font-weight:normal;
letter-spacing:0.15em;
padding:10px;
}

#calmain{
	margin-top: 50px;
}
#calmain .dayevents{

	border-bottom: 2px solid #cccccc;

	margin-bottom: 20px;

	padding: 0 0 20px 0;



}
#navcontainer ul li {
    display: inline;
}


#navcontainer ul li a {
    color: #333333;
    float: right;
    letter-spacing: 0.12em;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1.5em;
}

#calmain td.date_has_event a{
    color:#ffffff;
}

#calmain h2 {
    text-align: center;
}

